<%= image_tag("https://imgur.com/gallery/R9WYWvZ", size: "272*48", alt: "TKVTV Activate-D") %>

<div class="menubar">
&nbsp;|&nbsp; <%= menu_link_to "News", "#" %>
&nbsp;|&nbsp; <%= menu_link_to "Blog", "#"  %>
&nbsp;|&nbsp; <%= menu_link_to "Member Lists", "#" %>
&nbsp;|&nbsp; <%= menu_link_to "Admin Dashboard", "#" %>
</div>


